.selectiv{
	width: 757px;
	float:left;
	color: gray;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 17px;
	border-bottom: 1px solid #e7e7e7;
	}
#top{
	padding-left: 0;
	
	}

select{
	width:50px;	
	background: none;
	border: none;
	color:red;	
    /*for WebKit*/
     -webkit-appearance: none;
     /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
     
    background-image: url('../img/select-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    
	}

/*IE-select*/
    select::-ms-expand {
      display: none;
    }
.currency{	
	margin-left:20px;
}	
.currency+select{
	width: 35px;
}

#top-menu ul{		
   width: 232px;   
   margin-left: 126px;
   text-align: center;
   font-size: 13px;
   display: block;
   
}

#top-menu li{	
	display: inline;
	
}
#top-menu li a{
	background: transparent url('../img/top_vertical_line.png') no-repeat center right;
	padding-right: 5px;
	color: #9f9f9f;	
}

#top-menu  a:hover{
	text-shadow: -1px 0px #c1c1c1 ;
}

.line-top{

	width: 920px;
	height: 1px;
	background: #e7e7e7;
	margin-top:10px;
	margin-left:33px;
	float: left;
}

.nav-tabs{
	border:none;
}

.bottom-menu {
	float:left;
	width: 745px;
	font-size: 15px;
	list-style: none;
		
}

.bottom-menu li{
	float:left;
	display: inline;
}
.bottom-menu a.active {
	color: red;
	margin-left: 30px;
	
}

.bottom-menu > li> a{
  background: #FFF;
  display: block;
  color: black;
  font-weight: bold;
  margin-left: 30px;
  padding-right: 0px;
  padding-left: 0px;
  
}
.bottom-menu li>ul {
	height:187px;
	width: 302px;
}


/*==========Dropdown menu==========*/
.dropdown-toggle:hover{
	color: red;
}

.dropdown-menu{
	border-top-style:none;
	left:30px;
	background-clip: none;
	
}
ul.dropdown-menu {
	padding-top:23px;
}
ul.dropdown-menu li{
	float: left;
	display: inline-block;
	width: 150px;
	
}
	
#line_vertical_drdmenu{
	position: absolute;
	width: 1px;
	height: 177px;
	left:150px;	
	top:5px;
	background: #f1f0f0 center center;
}




.dropdown-menu li>a{
	color:#727272;
	font-size: 10px;
	line-height: 17px;
}
.dropdown-menu li>a:hover{
	color:red;
	margin-left: 15px;
}

li.search{
	background-image: url("../img/search.png");
	width: 30px;
	height: 30px;	
	position: relative;
	top:10px;
	left:15px;
	
}
li.search:hover{
	background-image: url("../img/search_active.png");
}
li.search a, li.cart a{
	padding: 0px;
}

li.cart{
	background-image: url("../img/cart.png");
	width: 30px;
	height: 30px;
	position: relative;
	top:10px;
	left:25px;
	}
li.cart:hover{
	background-image: url("../img/cart_active.png");
}